---
import Formulario from '../components/Formulario.astro';
import Layout from '../layouts/Layout.astro';
---




<Layout title='Formulario' bg='url("/tree_mountains_background.png")' />
<div class="container_form">
    <Formulario />
</div>

<style>
    .container_form {
        height: 100%;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

